<ion-header>
  <ion-toolbar>
    <ion-title>Log In <ion-icon class="close" name="close-outline" (click)="dismiss()"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label position="floating">Email Address</ion-label>
    <ion-input class="loginInput" type="text" placeholder="Email" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input class="loginInput" type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <button ion-button  (click)="login()">Login</button>
</ion-content>