<a href="http://takeanumber.tech" target="_blank"><img class="appLogo" src="../../assets/takeANumber.png" end/></a>

<ion-header class="topBar">
  <img class="selectRestaurantIcon" [routerLink]="['/choose-restaurant/']" src="../../assets/hamburger-menu.svg" start />
  <img class="restaurantLogo" src="{{restaurantLogo}}" end/>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <div class="menu" id="top">
    <ion-card>
      <img *ngIf="menu" src="{{menu}}"/>
    </ion-card>
  </div>
</ion-content>