<img class="appLogo" src="{{restaurantLogo}}" end/>
<ion-header class="topBar">
  <img class="selectRestaurantIcon" (click)="this.openFirst()" src="../../assets/hamburger-menu.svg" start />
  <a href="http://takeanumber.tech" target="_blank"><img class="restaurantLogo" src="../../assets/takeANumber.png" end/></a>
</ion-header>

<ion-content class="account-info" [fullscreen]="true" padding>
  <ion-card padding>
    <img style="max-width:50%;" class="center" src="{{restaurantLogo}}"/>
    <button class="checkStatus" expand="full" color="secondary" routerLink="/tabs/tab1/">
      Get A Number
    </button>
    <ion-grid class="addressInfo">
     <ion-row>
        <ion-col>
              <div>
                <p class="center"><strong>Currently: </strong>{{openStatusTxt}}</p>          
              </div>
              <div>
                <p class="center"><strong>Address: </strong> {{address}}</p>
              </div>
              <div>
                <p class="center"><strong>Hours: </strong>{{hours}}</p>
              </div>
              </ion-col>
      </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="contactBtns">
        <div *ngIf="restaurantSite"><a target="_blank" href="{{restaurantSite}}"><strong>Website</strong></a></div>
        <div *ngIf="restaurantEmail"><a href="mailto:{{restaurantEmail}}"><strong>Email</strong></a></div>
        <div *ngIf="restaurantPhone"><a href="tel:{{restaurantPhone}}"><strong>Call</strong></a></div>
      </ion-col>
      <ion-col class="socialIcons" *ngIf="instagram || facebook || twitter">
        <p><strong>Follow them on:</strong></p>
        <a *ngIf="facebook" target="_blank" href="http://www.facebook.com/{{facebook}}">
          <img src="../../assets/social/facebook.png"/>
        </a>
        <a *ngIf="instagram" target="_blank" href="http://instagram.com/{{instagram}}">
          <img src="../../assets/social/instagram-sketched.png"/>
        </a>
        <a *ngIf="twitter" target="_blank" href="http://twitter.com/{{instagram}}">
          <img src="../../assets/social/twitter.png"/>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>
    <p *ngIf="description1"><strong>Description:</strong><br>{{description1}}</p>
    <p *ngIf="description2">{{description2}}</p>
    <p *ngIf="description3">{{description3}}</p>
  </div>
  </ion-card>
</ion-content>