/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "futuraBlack";
  src: url('./assets/unicode.futurab.ttf') format('truetype');
}
:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
  --ion-color-primary: #12ab44;
}
html {
  background-image: url(./assets/background.jpg);
  background-position: center;
  background-size: contain;
}
body {
  background: transparent;
}
.center {
  text-align: center;
  margin: 0 auto;
  display:block;
  width: 100%;
}
#numErrorMsg {
  color: red;
}
ion-tab-bar {
  padding-bottom: 0;
  --ion-color-primary: #000;
}
ion-content {
  background: #fff;
  z-index: 999;
}
ion-item {
  --border-width: 0;
  --inner-border-width: 0;
  background: #fff;
}
ion-item .item-native {
  padding: 0;
}
ion-card {
  padding: 10px 0;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
}
.completeNotice ion-card,
.readyToOrderNotice ion-card {
  padding: 10px;
}
ion-title {
  font-weight: bold;
  text-align: center;
  padding: 0;
}
ion-title h1 {
  text-align: center;
}
ion-label h2 {
  font-size: 1.25em !important;
  border: none !important;
  padding: 10px;
}
ion-tab-button.tab-selected {
  border-top: 4px solid;
  border-color: #111;
  color: #111;
  background: #fff;
}
ion-tab-button {
  background: #fff;
  color: #444;
}
.listContainer ion-item {
  border-bottom: 1px solid #bbb;
}
.ion-page {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 3px 0px 8px rgba(0,0,0,0.5);
}
ion-note {
  font-size: 1em;
}
ion-header ion-toolbar {
  min-height: 80px;
}
ion-header ion-title {
  margin-top: 0px;
}
ion-item-sliding {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.account-info ion-input {
  margin-top: 10px;
}
.addressInfo div {
  margin-top: -1em;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  z-index: 99999999;
}
button {
  background: #12ab44;
  color: #fff;
  padding: 15px 30px;
  width: calc(100% - 20px);
  font-size: 1.25em;
  border-radius: 8px;
  margin: 15px auto;
  display: block;
}
button.cancel {
  background: #fb0929;
}
.secondaryAction {
  border-radius: 20px;
  background-color: #222;
}
ion-segment {
  width: calc(100% + 10px);
  margin-left: -5px;
  border-style: none;
}
ion-segment-button {
  background: #bbb;
  --border-width:0px;
  --background-hover: #bbb !important;
  --indicator-color-checked: 0;
  --background-checked: #bbb;  
  border-radius: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
ion-segment-button ion-icon,
ion-segment-button ion-label {
  margin: 0;
}
ion-segment-button.segment-button-checked {
  background: #fff;
  --indicator-color-checked: 0;
  --border-radius: 0;
}
ion-button.fullWidth {
  width: calc(100% - 20px);
}
.needANumber h2 {
  margin: 0;
  padding: 0;
  color: #555;
  font-weight: bold;
  font-size: 1em !important;
}
.textSettingsContainer {
  color: #444 !important;
  border-bottom: 1px solid #ddd;
  background: #fff;
  width: 90%;
  margin: 25px;
  border-radius: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: calc(100% - 200px);
  z-index: 999999999;
  min-height: 160px;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.4);
}
.textToggleTop {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.textToggle {
  position: absolute;
  bottom: 10px;
  right: 5px;
  z-index: 99999999999;
  opacity: 0;
}
.textSettingsContainer ion-toggle {
  position: absolute;
  top: 0;
  right: 10px;
  --ion-color-primary: #12ab44;
}
.textLogoBtn {
  position: absolute;
  bottom: 10px;
  right: 5px;
  z-index: 9999999999;
  width: 50px;
  background: #fff;
  border-radius: 50%;
  padding: 0px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
  animation: pulse 3s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(42, 216, 91, 0.3);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(42, 216, 91, 0.5);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(42, 216, 91, 0);
	}
}
.textSettingsContainer ion-item.item {
  --background: transparent !important;
  padding: 0;
  margin-bottom: 0px;
  color:#444;
}
input.native-input {
  color: #444;
}
.textSettingsContainer ion-item.item button {
  width: 100%;
  display: block;
  padding: 10px 5px;
  margin: 0;
  font-size: 0.85em;
  white-space: nowrap;
  min-width: 100px;
}
.textSettingsContainer h5 {
  position: absolute;
  top: 0;
  left: 40px;
  color:#444;
  z-index: 99999999999;
}
.textSettingsContainer a {
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
  z-index: 99999999999;
}
.noThanks {
  margin-top: 40px;
}
.textStatus {
  padding: 0;
  margin: -0.5em 0 1em 0;
  line-height: 1em;
  color: #888;
}
.messageIcons {
  top: 10px;
  left: 0;
  position: absolute;
  z-index: 99999999999;
}
.close {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 35px;
  height: 35px;
}
.statusHeader {
  background-color: #000;
  background-image: url(./assets/background.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100px;
  z-index: 99999;
}
.statusBar {
  width: 95%;
  border-bottom: 3px solid #fff;
  padding: 20px 0;
  margin: 0 auto 60px;
  position: relative;
}
.statusBar .milestone {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  top: 34px;
}
.statusBar .milestone:after {
  content: '';
  line-height: 0.8em;
  color: #fff;
  font-size: 13px;
  display: block;
  width: 60px;
  left: -20px;
  line-height: 1.25em;
  position: absolute;
  top: 2em;
  text-align: center;
}
.step1 {
  left: 10%;
}
.step2 {
  left: 30%;
}
.step3 {
  left: 50%;
}
.step4 {
  left: 70%;
}
.step5 {
  left: 90%;
}
.statusBar .milestone.step1:after {
  content: 'Start'
}
.statusBar .milestone.step2:after {
  content: 'Waiting to Order'
}
.statusBar .milestone.step3:after {
  content: 'Ready to Order'
}
.statusBar .milestone.step4:after {
  content: 'Order In Progress'
}
.statusBar .milestone.step5:after {
  content: 'Order Ready'
}
.statusBar #currentStatus {
  background-image: url('./assets/currentStatus_green.gif');
  background-size: cover;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 5px;
  margin-left: -29px;
}
.statusBar #currentStatus.on-hold {
  background-image: url('./assets/currentStatus_red.gif');
}
.spacer {
  display:block;
  width: 100%;
  height: 3em;
}
p {
  padding: 10px;
  margin: 0;
}
.topBar {
  padding-top: 20px;
  min-height: 60px;
  background: #fff;
  z-index: 9999999;
}
#phoneNumberInput, #nameInput, .loginInput {
  border: 1px solid #ddd;
  padding-left: 5px !important;
  border-radius: 4px;
  text-align:left;
}
ion-input input {
  --padding-start: 10px;
}
ion-tab-button ion-icon {  
  font-size: 1.75em;
}

ion-icon.inputIcon {
  position: absolute;
  right: 20px;
}
.list-md {
  padding: 0;
}
.qrMessage {
  display:none;
}
.qrcode img {
  display: block;
  margin: 0 auto;
  width: 250px !important;
}
#qrIMG {
  opacity: 0.2;
}
.settingsIcon {
  width: 30px;
  right: 15px;
  z-index: 999;
  position: absolute;
  top: 20px;
  height: 30px;
}
.restaurantLogo {
  width: 50px;
  left: 10px;
  z-index: 999;
  position: absolute;
  top: 5px;
  height: 50px;
  border-radius: 50%;
}
.sideMenu ion-item:first-child {
  margin-top: 100px;
}
.selectRestaurantIcon {
  width: 25px;
  z-index: 999;
  position: absolute;
  top: 5px;
  height: 50px;
  right: 20px;
  cursor: pointer;
}
.appLogo {
  max-width: 85px;
  max-height: 85px;
  position: absolute;
  left: calc(50% - 40px);
  z-index: 99999999999;
  top: -5px;
  display: block;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}
.account-info ion-item {
  width:100%;
}
.contactBtns a {
  text-decoration: none;
  color: #888;
  border: 1px solid #ccc;
  background: #eee;
  padding: 5px 10px;
  text-align: center;
  display: block;
  margin: 10px;
}
.myOrder {
  border-left: 5px solid #2dd36f !important;
}
.myNumberCard {
  text-align: center;
  margin: 0 auto;
}
.myNumberCard ion-card {
  margin-top: -10px;
  padding: 20px 0;
}
.myNumberCard h3 {
  font-size: 1em;
  margin: 0;
}
.myNumberCard h1 {
  font-size: 12em;
  font-weight: bold;
  line-height: 0.8em;
  margin-top: 0;
}
ion-label span.end {
  position: absolute;
  right: 20px;
}
.label-floating.md {
  padding-bottom: 10px !important;
}
.myNumberCard h2 {
  font-size: 2em;
  line-height: 0.8em;
}
.myNumberCard .name {
  line-height: 1.25em;
  margin: -10px 0 0;
}
.hide {
  display:none;
}
.arrow-down {
  width: 0;
  position: absolute;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #777;
  top: 30px;
  right: 60px;
}
.readyToOrderNotice, .completeNotice, .selectRestaurant {
  position: absolute;
  z-index: 999;
  width: 80%;
  min-height: 250px;
  left: 10%;
  top: 30%;
}
.selectRestaurant {
  box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
}
.readyToOrderNotice h3, .completeNotice h3, .selectRestaurant h3 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  margin-bottom: 1em;
  padding: 0 20px;
}
.socialIcons img {
  width: 40px;
  float:left;
  margin-right: 10px;
}
.menu ion-card {
  margin-bottom: 3em;
  padding: 0;
}
.menu h4 {
  padding: 0;
  margin-top: 0px;
  color: #444;
  font-size: 2em;
  font-family: 'futuraBlack', sans-serif;
  margin-bottom: 0;
}
.menu ul {
  margin-top: 0;
  font-weight: bold;
}
.menu p:first-child{
  border-top: none;
}
.menu p {
  font-weight: bold;
  font-size: 1.2em;
  border-top: 1px solid #ddd;
}
.menu span {
  font-weight: normal;
  font-size: 0.75em;
}
.menu span.price {
  float:right;
  min-height: 5em;
  padding: 10px;
  font-weight: bold;
}
ion-card.pickRestaurant {
  width: calc(48% - 20px);
  float: left;
  text-align: center;
  border: 1px solid #fff;
  margin: 10px;
}
ion-card.pickRestaurant.selected {
  border:1px solid red;
}
.pickRestaurant img {
  max-height: 8em;
}
.checkTextSettings {
  cursor: pointer;
  color: #12ab44;
  border: 1px solid #12ab44;
  border-radius: 20px;
  background: transparent;
  font-size: 1em;
  width: 100%;
}
.reseveASpotBtn {
  margin-top: -10px;
}
.reseveASpotBtn:disabled {
  background-color: #444;
}
@media (prefers-color-scheme: dark) {
  ion-segment-button {
    color: #fff;
    background: #444;
  }
  ion-segment-button.segment-button-checked {
    background: #000 !important;
  }
  ion-content {
    --background: #595959 !important;
    --background-color: #595959 !important;
    background-color: #595959 !important;
  }
  ion-item, ion-card {
    --background: #222 !important;
    --background-color: #222 !important;
    background-color: #222 !important;
  }
  .textSettingsContainer {
    --background: #777 !important;
    --background-color: #777 !important;
    background-color: #777 !important;
    color: #000 !important;
    border-color: #000;
  }
  .textSettingsContainer ion-item {
    --background: #777 !important;
    --background-color: #777 !important;
    background-color: #777 !important;
  }
  .textSettingsContainer h5,
  .textSettingsContainer p,
  .textSettingsContainer a {
    color: #000 !important;
  }
  #nameInput, #phoneNumberInput {
    border: 1px solid #333;
    padding-left: 10px!important;
    border-radius: 4px;
    background: #000;
    color: #999;
  }
  .topBar {
    --background: #444 !important;
    --background-color: #444 !important;
    background-color: #444 !important;
  }
  .checkTextSettings {
    color: #fff;
    border: 1px solid #fff;
  }
  ion-tab-button {
    background: #222 !important;
    color:#ddd;
  }
  ion-tab-button.tab-selected {
    border-color: #12ab44;
    color: #12ab44;
  }
}