<a href="http://takeanumber.tech" target="_blank"><img class="appLogo" src="../../assets/takeANumber.png" end/></a>
<ion-header class="topBar">
  <img class="selectRestaurantIcon" [routerLink]="['/signup/']" src="../../assets/hamburger-menu.svg" start />
  <img class="restaurantLogo" src="{{restaurantLogo}}" end/>
</ion-header>

<ion-content class="account-info" [fullscreen]="true" padding>
    <ion-card padding style="margin-top: 20px">
      <div *ngIf="loggedIn; else loggedOut">
        <ion-list>
          <ion-item>
            <ion-label position="floating">My Name</ion-label>
            <ion-input class="loginInput" type="text" id="nameInput" placeholder="Name" [(ngModel)]="name" value="{{name}}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">My Phone Number</ion-label>
            <ion-input class="loginInput" type="text" id="phoneInput" placeholder="My Phone Number" [(ngModel)]="phone" value="{{phone}}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">My Email</ion-label>
            <ion-input disabled class="loginInput" type="text" id="emailInput" placeholder="Email" [(ngModel)]="email" value="{{email}}"></ion-input>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label>Send me updates</ion-label>
          <ion-toggle [(ngModel)]="optIn"></ion-toggle>
        </ion-item>
        <button class="fullWidth" (click)="save()">Save</button>
        <button class="fullWidth secondaryAction" (click)="logout()">Logout</button>  
      </div>
      <ng-template #loggedOut>
        <p style="text-align: center; display: block;width:80%;margin: 0 auto;">Log in or sign up to get updates on: food truck locations, events, coupons and more.</p>
        <button (click)="login()">Log In</button>
        <button class="secondaryAction" (click)="signup()">Sign Up</button>  
      </ng-template>
    </ion-card>
</ion-content>
